@page
@model TrainerSchedule.Pages.Clients.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Phone)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Client.ClientID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
