@page
@model TrainerSchedule.Pages.Clients.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Client.ClientID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
